@import '../../../../global.scss';

.reviews {
    padding-top: 7rem;
    padding-bottom: 7rem;
    .reviews-star {
        width: 100%;
    }
}

// Large devices (desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .reviews {
        padding-top: 3rem;
        padding-bottom: 3rem;
        .col-md-5 {
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 1.5rem;
        }
        .margin-global-top-4 {
            margin-top: 2rem !important;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}
