@import "../../global.scss";

.content-card {
    width: fit-content !important;
    .card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        // height: 16rem;
        border-radius: 40px;
        border: 1px solid transparent;
        background-color: #f4f7fa;
        transition: all 0.3s ease-in-out;
        .card-title {
            font-size: $font-size-regular;
            font-weight: $font-weight-medium;
            color: black;
            line-height: 1.2;
        }
        .card-text {
            font-size: $font-size-very-small;
            font-weight: $font-weight-light;
            color: black;
            line-height: 1.2;
        }
    }
}

// Large devices (desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .content-card {
        .card {
            .card-title {
                font-size: $font-size-small;
            }
            .card-text {
                font-size: $font-size-little;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {

    .content-card {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}
