@import '../../../../global.scss';

.client-logos {
    padding-top: 4rem;
    padding-bottom: 4rem;
    img {
        width: 20rem;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

// Large devices (desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .client-logos {
        img {
            width: 18rem;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .client-logos {
        img {
            width: 16rem;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .client-logos {
        img {
            width: 14rem;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .client-logos {
        img {
            left: 50%;
            top: auto;
            transform: translateX(-50%);
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .client-logos {
        img {
            width: 90%;
        }
    }
}
